$color-primary-nude: #d8cfae;
$color-primary-brown: #231c18;
$color-in-between: #5b4a3a;

.section-book {
	padding: 15rem 0;
	background-image: linear-gradient(
		to right bottom,
		$color-primary-nude,
		$color-primary-nude
	);
}
.book {
	background-image: linear-gradient(
			105deg,
			rgba(white, 0.9) 0%,
			rgba(white, 0.9) 50%,
			transparent 50%
		),
		url(../asset/onePiece.jpg);
	background-size: 100%;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba($color-primary-brown, 1);
	height: 70rem;

	&__form {
		width: 50%;
		padding: 6rem;
	}
}
.form {
	&__group:not(:last-child) {
		margin-bottom: 2rem;
	}
	&__input {
		font-size: 1.5rem;
		font-family: inherit;
		color: #231c18;
		padding: 1.5rem 2rem;
		border-radius: 2px;
		margin-bottom: 0.5rem;
		border: none;
		background-color: rgba($color-primary-nude, 0.5);
		border-bottom: 3px solid transparent;
		width: 90%;
		display: block;
		transition: all 0.3s;

		&:focus {
			background-color: transparent;
			outline: none;
			box-shadow: 0 1rem 2rem rgba($color-in-between, 0.2);
			border-bottom: 3px solid $color-in-between;
		}
		&:focus:invalid {
			border-bottom: 3px solid orangered;
		}
		&::-webkit-input-placeholder {
			color: #9999;
		}
	}

	&__label {
		font-size: 1.2rem;
		font-weight: 700;
		margin-left: 2rem;
		margin-top: 1rem;
		display: block;
		transition: all 0.5s;
	}
	&__input:placeholder-shown + &__label {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-4rem);
	}
	&__radio-group {
		width: 49%;
		display: inline-block;
	}
	&__radio-input {
		display: none;
	}
	&__radio-label {
		font-size: 1.6rem;
		cursor: pointer;
		position: relative;
		padding-left: 4rem;
	}
	&__radio-button {
		height: 3rem;
		width: 3rem;
		border: 5px solid $color-in-between;
		border-radius: 50%;
		display: inline-block;
		position: absolute;
		left: 0;
		top: -0.4rem;

		&::after {
			content: "";
			display: block;
			height: 1.3rem;
			width: 1.3rem;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #5b4a3a;
			opacity: 0;
			transition: opacity 0.2s;
		}
	}
	&__radio-input:checked ~ &__radio-label &__radio-button::after {
		opacity: 1;
	}
}
.subbtn {
	margin-top: 2rem;
	padding: 1rem;
	border-radius: 50px;
	background-color: #d8cfae;
	cursor: pointer;
	&:hover {
	}
}
