$color-primary-nude: #d8cfae;
$color-primary-brown: #231c18;
$color-in-between: #5b4a3a;
$grid-width: 114rem;
$gutter-vertical: 7rem;
$gutter-horizontal: 6rem;

.u-center-text {
	text-align: center;
}
.u-margin-bottom-8 {
	margin-bottom: 7rem;
}
.heading-secondary {
	font-size: 5rem;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	background-image: linear-gradient(
		to right,
		$color-primary-brown,
		$color-primary-nude,
		$color-in-between
	);
	letter-spacing: 0.2rem;
	transition: all 0.2s;
	-webkit-background-clip: text;
	color: transparent;
	cursor: pointer;
	&:hover {
		transform: skewY(2deg) skewX(15deg) scale(1);
		text-shadow: 0.5rem 1rem 2rem rgba($color-primary-brown, 0.2);
	}
}
