/*
nyde : #d8cfae
ash:#827c7a
ash2:#85827b
oil brown :#5b4a3a 
darkbrown :#231c18  
*/

@mixin respond-phone {
	@media (max-width: 600px) {
		@content;
	}
}

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 37.5em) {
			@content;
		}
	}
	@if $breakpoint == tab-port {
		@media (max-width: 56.25em) {
			@content;
		}
	}
	@if $breakpoint == tap-land {
		@media (max-width: 75em) {
			@content;
		}
	}
	@if $breakpoint == big-desktop {
		@media (min-width: 112.5em) {
			@content;
		}
	}
}

*,
*::after,
*::before {
	padding: 0px;
	margin: 0px;
	box-sizing: inherit;
}
html {
	font-size: 62.5%;
	@include respond(tap-land) {
		font-size: 56.2%;
	}
	@include respond(tab-port) {
		font-size: 60%;
	}
	@include respond(phone) {
		font-size: 35%;
	}

	@include respond(big-desktop) {
		font-size: 75%;
	}
}
body {
	font-family: sans-serif;
	font-weight: 400;
	/*font-size: 16px;*/
	line-height: 1.7;
	color: #231c18;
	padding: 3rem;
	box-sizing: border-box;
}
