$color-primary-nude: #d8cfae;
$color-primary-brown: #231c18;

.btn {
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;

		padding: 1.5rem 4rem;
		display: inline-block;
		border-radius: 10rem;
		transition: all, 1s;
	}
	&:active {
		transform: translateY(-1px);
		background-color: $color-primary-brown;
		color: $color-primary-nude;
	}
	&:hover {
		color: $color-primary-nude;
		transform: translateY(-0.2rem);
		box-shadow: 0 1rem 3rem rgb(86, 248, 137);
		background-color: $color-primary-brown;
	}
	&::after {
		content: " ";
		display: inline-block;
	}
	&-animated {
		animation-name: moveFromButton;
		animation-duration: 2s;
	}
	&-white {
		background-color: $color-primary-nude;
		color: $color-primary-brown;
		letter-spacing: 0.5rem;
		font-size: large;
	}
}

@keyframes moveFromButton {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}
	50% {
		transform: translateY(-5rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
