$color-primary-nude: #d8cfae;

.header {
	height: 95vh;
	background-image: linear-gradient(to right bottom, #d8cfae2b, #5b4a3a2e),
		url(./asset/React.jpg);
	background-size: cover;
	background-position: top;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	position: relative;
}
.logo-box {
	position: absolute;
	top: 4rem;
	left: 4rem;
}
.logo {
	height: 3.5rem;
	cursor: pointer;
}
.header-text-box {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.heading-primary {
	color: $color-primary-nude;
	text-transform: uppercase;
	backface-visibility: hidden;
	margin-bottom: 4rem;
	&-main {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 1.2rem;
		animation-name: moveInLeft;
		animation-duration: 2s;
		animation-timing-function: ease-out;
	}
	&-sub {
		display: block;
		font-size: 1.2rem;
		color: $color-primary-nude;
		font-weight: 800;
		margin-top: 1rem;
		letter-spacing: 0.4rem;
		font-family: lato;
		animation-name: moveInRight;
		animation-duration: 2s;
	}
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}
	50% {
		transform: translateX(5rem);
	}

	80% {
		transform: translateY(2rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}
@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
	}
	80% {
		transform: translateY(2rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
