$color-primary-nude: #d8cfae;
$color-primary-brown: #231c18;
$color-in-between: #5b4a3a;
$grid-width: 114rem;
$gutter-vertical: 7rem;
$gutter-horizontal: 6rem;

.section-about {
	background-color: #e6dfd8;
	padding: 25rem 0;
	margin-top: -20vh;
	color: $color-primary-brown;
}

.heading-tertiary {
	font-size: 1.5em;
	font-weight: 700;

	text-transform: capitalize;
	margin-bottom: 1.5rem;
}
.paragraph {
	font-size: 1.6rem;
	margin-bottom: 0;
	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}
@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

// Grid

.roow {
	max-width: $grid-width;

	margin: 0 auto;

	&:not(:last-child) {
		margin-bottom: $gutter-vertical;
	}
	@include clearfix;

	[class^="col-"] {
		float: left;
		&:not(:last-child) {
			margin-right: $gutter-horizontal;
		}
	}
	.col-1-of-2 {
		width: calc((100% - #{$gutter-horizontal}) / 2);
	}
}
.btn-text {
	&:link,
	&:visited {
		font-size: 1.6rem;
		color: #231c18;
		display: inline-block;
		text-decoration: none;
		background-color: #d8cfae;
		margin-right: 1rem;
		padding: 0.7rem;
		border-radius: 15%;
		border-bottom: 0.5rem solid #231c18;
	}
	&:hover {
	}
}
.composition {
	position: relative;
	&__photo {
		width: 50%;
		box-shadow: 0 2rem 4rem rgba($color-primary-brown, 0.4);
		border-radius: 2px;
		position: absolute;
		transition: all 0.3s;
		outline-offset: 1rem;
		z-index: 10;
		&--p1 {
			left: 0;
			top: 2rem;
		}
		&--p2 {
			right: 0;
			top: 4rem;
		}
		&--p3 {
			left: 20%;
			top: 6rem;
			border-radius: 2px;
		}
		&:hover {
			outline: 0.01rem solid $color-primary-brown;
			transform: scale(1.2) translateY(0.25rem);
			box-shadow: 0 2.5rem 4rem rgba($color-primary-nude, 1);
			z-index: 20;
		}
	}
	&:hover &__photo:not(:hover) {
		transform: scale(0.9);
	}
}
